*{
  text-align: center;
}
.bottone{
  background-color: blue;
  font-size: 25px;
  color: aqua;
  margin: 10px;
}
li{
  font-size: 25px;
  background-color: aquamarine;
  text-decoration: none;
  list-style: none;
}
