
<div id="carouselExampleFade" class="carousel slide carousel-fade max-h">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/zyon_bocchiny.jpeg" class="d-block w-100 img" alt="Zyon Bocchiny">
    </div>
    <div class="carousel-item">
      <img src="../../assets/zyon_seduto.jpeg" class="d-block w-100 img" alt="Zyon seduto">
    </div>
    <div class="carousel-item">
      <img src="../../assets/zyon_thuglife.jpg" class="d-block w-100 img" alt="Zyon thug life">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="biografia">

  <h2>Biografia</h2>

  <h4>Zyon Bocchiny</h4>

  <p>Zyon è un' entità superiore reincarnata nella forma di un cane al fine di spiare le attività degli esseri umani, i suoi unici interessi, apparte capire tutto ciò che succede sono : mangiare e pisciare per segnare il territorio così da comandare le erbette.</p>

</div>

<div>
  
</div>






