#totale{
  text-align: center;
}
#task{
  font-size: 30px;
  text-decoration:underline aqua;

}
#input{
  font-size: 25px;
  background-color: aliceblue;
}
.bottone{
  background-color: blue;
  font-size: 25px;
  color: aqua;
  margin: 10px;
}
li{
  font-size: 25px;
  background-color: aquamarine;
  text-decoration-style: none;
  list-style: none;
}
